.navbar{
   
    display: flex;
    justify-content: center;
    padding: 10px;
    // height: 5vh;
    align-items: center;
}
.navlink{
    text-decoration: none;
}
.navpara{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 50px;
    color: rgb(0, 0, 0);
}