.lApp{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.4);
 }
 
.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading_para{
    margin: 20px;
    font-size: 60px;
    text-align: center;
}
